*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: Arial;
margin:0;
background:white;
}
.nav{
background:#70707053;
padding:20px 40px;
display:flex;
align-items:center;
justify-content:space-between;
}
.search{
width:300px;
padding:8px;
border: 2px solid black;
}
.login{
background-color: rgb(34, 94, 215);
color: white;
padding: 8px 20px;
margin: 10px;
border: 2px solid black;
box-shadow: 3px 4px black;
}
.main{
display:flex;
gap:30px;
padding:40px 10px;
}
.left{
flex:2;
}
.right{
flex:1;
border:3px solid black;
padding:15px;
height:150px;
}
.right button{
background:#7ba369;
width:100%;
padding:10px;
margin-top:20px;
font-weight:bold;
border:3px solid black;
box-shadow: 3px 4px;
}
.card{
border:3px solid black;
padding:20px;
margin-bottom:25px;
display:flex;
justify-content:space-between;
}
.ninja{
width:40%;
gap: 50px;
}
.definition{
width:60%;
margin-top: 30px;
}
a{
color:#0077cc;
}
.likeBtn{
margin-top:30px;
background:#ffd559;
border:3px solid black;
box-shadow: 3px 4px;
padding:10px 20px;
font-weight:bold;
}
@media (max-width: 768px) {
body{
  background:white;
  flex-direction: column;
}
}