{% extends 'main_app/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1>Welcome to the Test</h1>
    <p>We're going to build a cool application using a MVC framework!</p>
    <a href="/register/" class="btn btn-primary">Start</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Manage Users</h3>
        <p>Using this application, you'll learn how to add, remove, and edit users.</p>
    </div>
    <div class="col-md-4">
        <h3>Leave messages</h3>
        <p>Users will be able to leave a message to another user.</p>
    </div>
    <div class="col-md-4">
        <h3>Edit User Information</h3>
        <p>Admins will be able to edit another user's information.</p>
    </div>
</div>

{% endblock %}